.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.panel-default{
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#topnav ul{
    margin: 0;
    list-style: none outside none;
    float: right;
}